/* --------------------------------------General------------------------------------------ */

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #000;
    line-height: 1.4;
    font-family: 'roboto', sans-serif;
}

header a {
    text-decoration: none;
    color: #191919;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

header .div {
    display: block;
}

header img {
    max-width: 300px;
    height: auto;
}




/* --------------------------------------top bar------------------------------------------ */
.row {
    display: flex;
    background-color: #32312f;
    justify-content: center;
    font-size: 12px;
    height: 30px;
    align-items: center;
    justify-self: center;
    height: 40px;
    font-weight: lighter;
}

.row div {
    margin-right: 80px;
}

.row div a {
    color: #b7aaaa;
    display: flex;
    align-items: center;
}

.row div a:hover {
    color: #d8944a;
}

.topBarIcon {
    width: auto;
    height: 15px;
    margin-right: 10px;
}


/* --------------------------------------header------------------------------------------ */
.navbar {
    position:absolute;
    background-color: rgba(255, 255, 255, 0.778);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    font-weight: 600;
    height: 60px;
}


.nav-links {
    font-size: 0.7em;
}

.clearfix {
    padding-left: 0;
    display: flex;
    list-style: none;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.clearfix li a {
    color:rgb(62, 60, 60);
}

.clearfix > li {  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /* min-width: 78px; */
}

.menu_child {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.logo {
    width: 80%;
    height: auto;
}

.cartIcon {
    max-width: 100%;
    height: 20px;
}

.downArrowIcon {
    height: 12px;
}

.product-menu {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.93);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-item {
    float: left;
    display: block;
    color: rgb(53, 53, 53);
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
}


/* .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.681);
    color: black;
} */

.clearfix a:hover{
    color: rgb(213, 146, 100);
} 

.product-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.product-menu a:hover {
    color: rgb(213, 146, 0);
}

.product-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.product-menu li {
    border-bottom: 0px solid #ddd;
}


/* Chỉnh vị trí bảng xuất hiện */
.menu-item:hover .product-menu{
    top: 100%;
    right: 0;
    display: block;
    width: 100%;
}

.menu-item:hover .menu-name {
    color: rgb(213, 146, 100);
}

.product-menu .menu_title {
    text-decoration: underline;
    font-size: 1.2em;
}

header {
    position: sticky;
    top: 0px;
    z-index: 100;
}

#searchInput {
    align-self: center;
    height: 25px;
    margin-right: 7px;
    border-color: rgba(174, 174, 174, 0.415);
    border-width: 0.01cap;
    border-radius: 2%;
    background-color: white;
}

#searchInput:focus {
    outline: none;
}

.toLogin {
    position: absolute;
    right: 30px;
}

.product-menu2 {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.93);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.product-menu2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.searchBar .product-menu2 {
    top: 70%;
    right: 10%;
    display: block;
    width: 11%;
}

#menu_child2 img {
    margin: 10px 10px;
    max-width: 30px;
}

#menu_child2 li a {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
}

#menu_child2 li {
    border-top: 0.5px #67626255 solid;
}



/**/
main .intro {
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-left: 180px;
    margin-top: 100px;
}

.product-info {
    display: flex;
    /* Hiển thị các phần tử con cùng một hàng (ngang) */
}

.product-image img {
    margin-left: 180px;
    /* Khoảng cách giữa chữ và hình ảnh (tùy chỉnh) */
    height: 600px;
    width: 500px;
}

.product-price p {
    color: black;
    font-weight: bold;
    font-size: 27px;
    margin: 15px;
    margin-left: 100px;
    margin-top: -10px;
}


/*size*/
main .list-size {
    display: flex;
}

main .size-product {
    align-items: center;
    justify-content: center;

    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888;

    margin-left: 90px;
    margin-right: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -20px;
}

.size-product img {
    width: 40px;
    /* Điều chỉnh kích thước hình ảnh (tùy chỉnh) */
    height: 40px;
    vertical-align: -10px;
}

.size-product a {
    color: black;
    /* Màu chữ ban đầu */
    text-decoration: none;
    /* Loại bỏ gạch chân cho liên kết */
}

.size-product a:hover {
    background-color: darkorange;
    /* Màu nền khi di chuột vào */

    display: block;
    /* Chuyển thành khối để có thể đặt chiều rộng và chiều cao */
    border-radius: 5px;
    /* Bo tròn các góc */
    transition: background-color 0.3s ease;
    /* Hiệu ứng màu nền */
}

.product-price a {
    text-decoration: none;
}


/*topping*/
main .list-topping {
    display: flex;
}

main .topping p {
    align-items: center;
    justify-content: center;

    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888;

    margin-left: 100px;
    margin-right: 10px;
    font-size: 25px;
    font-weight: normal;
    padding-right: 10px;
    margin-bottom: 10px;
}

main .ul-topping {
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Chỉnh text-align thành center */

    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888;

    margin-left: 100px;
    margin-right: 90px;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.ul-topping a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* Kích thước chiều cao của a sẽ bằng chiều cao của ul-topping */
}

.ul-topping p {
    margin-top: 0px;
    padding: -50px;
    margin-bottom: 10px;
}

.topping p:hover,
.ul-topping a:hover {
    background-color: darkorange;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}



/*Shipping*/
.delivery {
    width: 700px;
}

main section .delivery img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: -10px;
    filter: invert(88%) sepia(30%) saturate(5428%) hue-rotate(78deg) brightness(96%) contrast(94%);

}

main section .delivery {
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888;
    background-color: darkorange;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 100px;
    margin-right: 15px;
    margin-top: 20px;
    /* Giảm giá trị margin-top xuống để kéo hình và chữ xuống 1 chút */
}

main section .delivery span {
    font-size: 25px;
    color: white;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.delivery a {
    text-decoration: none;
}


/*change color when touch*/
.delivery a:hover,
.delivery:hover {
    background-color: darkorange;
    cursor: pointer;
}


/*small picture*/
main .smallpicture img {
    width: 200px;
    height: 200px;
    margin-left: 180px;
    margin-top: 50px;
    border-radius: 10%;
    /* Đặt giá trị này để bo góc hình ảnh thành hình tròn */
    border: 2px solid orange;
}

/*relative information*/
aside {
    margin-left: 180px;
    margin-right: 200px;
    margin-top: 70px;
    font-size: 30px;
}

/*relative drinks*/
.SPLQ p {
    font-weight: bold;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 180px;
}

.SPLQ .relative_drinks {
    display: flex;
    justify-content: space-between;
}

.SPLQ .relative_drinks_list img {
    margin-left: 100px;
    margin-right: 100px;
    width: 170px;
    height: 170px;
    margin-top: 25px;
    border-radius: 10%;
    /* Đặt giá trị này để bo góc hình ảnh thành hình tròn */
    border: 2px solid orange;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.relative_drinks_list:hover img {
    transform: translateY(-10px);
}

.SPLQ .relative_drinks_list p {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}





/*footer*/
#footer {
    width: 100%;
    height: 380px;
    background-color: #CCCCCC;
}

.footer__info {
    height: 70%;
    display: flex;

}

#footer a:hover {
    color: red;
}

/*chỉnh kích cở cho icon*/
.social-icon i {
    width: 15px;
}

/*kích cở của ảnh*/
.footer__logo-img {
    width: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 36px;
}

.text-center {
    text-align: center !important;
}

.footer__info-icon {
    margin-top: 4px;
    font-size: 16px;
    padding: 4px;
}

.footer__info-item {
    flex: 1;
    height: 100%;
}

.footer__info-item h4 {
    margin-top: 12px;
    margin-bottom: 0px;
}

.footer__info-item li {
    list-style: none;

}

.footer__info-item a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 15px;
}


.footer__location,
.footer__call {
    margin-top: 4px;
}

.footer__location-icon,
.footer__call-icon {
    min-width: 16px;
    margin: 0 4px
}

.line-sereprate {
    margin: auto;
    width: 95%;
    border: 1px solid #555;
}

.footer__address {
    height: 30%;
    text-align: center;
}

.address-info {
    font-size: 12px;
}

.footer__info-item ul {

    padding-left: 0px;
}

.footer__info-item {
    height: 0px;
}

.tilte {
    font-size: 19px;
}




/*delivery btn start*/
.clear{
    clear: both;
}

.modal{
    position: fixed;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    position: relative;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-ticket {
    height: 54px;
    border: none;
    width: 40%;
    color: white;
    background: #009688;
    margin: 16px 0px;
    padding: 16px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 90px;
}

#buy-ticket:hover{
    opacity: 0.7;
}

.modal-footer{
    padding: 16px;
    text-align: right;
    
}

.modal-footer a{
    color: #2196f3;
}

#name,
#phone_number,
#address,
#note {
    width: 840px;
}

.cancel-ticket{
    height: 54px;
    border: none;
    width: 40%;
    color: white;
    background:#555;
    margin: 16px 0px;
    padding: 16px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.cancel-ticket:hover{
    opacity: 0.7;
}
/*delivery btn end*/

/*body {
    zoom: 100%;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}*/



