/*
 * GOOGLE FONT
 */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
}

header {
  font-size: 20px;
}


header a {
  text-decoration: none;
  color: #191919;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.div {
  display: block;
}

img {
  max-width: 300px;
  max-height: auto;
}


/* --------------------------------------top bar------------------------------------------ */

.row {
  display: flex;
  background-color: #32312f;
  justify-content: center;
  font-size: 12px;
  height: 30px;
  align-items: center;
  justify-self: center;
  height: 40px;
  font-weight: lighter;
}

.row a {
  text-decoration: none;
  color: #191919;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.row div {
  margin-right: 80px;
}

.row div a {
  color: #b7aaaa;
  display: flex;
  align-items: center;
}

.row div a:hover {
  color: #d8944a;
}

.topBarIcon {
  width: auto;
  height: 15px;
  margin-right: 10px;
}

.toLogin {
  position: absolute;
  right: 30px;
}

/* --------------------------------------header------------------------------------------ */
.navbar {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.778);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  font-weight: 600;
  height: 60px;
}

.nav-links {
  font-size: 0.7em;
}

.clearfix {
  padding-left: 0;
  display: flex;
  list-style: none;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin: 0 7.4%;
}

.clearfix li a {
  color: rgb(62, 60, 60);
}

.clearfix>li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
  /* min-width: 78px; */
}

.menu_child {
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.logo {
  width: 80%;
  height: auto;
}

.cartIcon {
  max-width: 100%;
  height: 20px;
}

.downArrowIcon {
  height: 12px;
}

.product-menu {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.93);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-item {
  float: left;
  display: block;
  color: rgb(53, 53, 53);
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
}


/* .menu-item:hover {
  background-color: rgba(255, 255, 255, 0.681);
  color: black;
} */

.clearfix a:hover {
  color: rgb(213, 146, 100);
}

.product-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

.product-menu a:hover {
  color: rgb(213, 146, 0);
}

.product-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-menu li {
  border-bottom: 0px solid #ddd;
}


/* Chỉnh vị trí bảng xuất hiện */
.menu-item:hover .product-menu {
  top: 100%;
  right: 0;
  display: block;
  width: 100%;
}

.menu-item:hover .menu-name {
  color: rgb(213, 146, 100);
}

.product-menu .menu_title {
  text-decoration: underline;
  font-size: 1.2em;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1000;
}

#searchInput {
  align-self: center;
  height: 25px;
  margin-right: 7px;
  border-color: rgba(174, 174, 174, 0.415);
  border-width: 0.01cap;
  border-radius: 2%;
  background-color: white;
  font-size: 13px;
}

#searchInput:focus {
  outline: none;
}

.product-menu2 {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.93);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.product-menu2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.searchBar .product-menu2 {
  top: 70%;
  right: 10%;
  display: block;
  width: 10.7%;
}

#menu_child2 img {
  margin: 10px 10px;
  max-width: 30px;
}

#menu_child2 li a {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 10px;
}

#menu_child2 li {
  border-top: 0.5px #67626255 solid;
}



/* -------------------------------------------------------------------------------------- */
.body_tab-ol {
  font-size: 2.2rem;
  margin: 0 0 20px 0;
  list-style: none;
}

ol {
  padding-inline-start: 0px;
}

.body_tab-li {
  display: inline;
}

.body_tab-a {
  right: 0;
  transition: right linear 0.1s;
  position: relative;
}

.body_tab-a:hover {
  right: 3px;
  color: rgb(213, 146, 0);
}

.main_block-body {
  display: block;
  margin-top: 8%;
}

.body_main-context {
  display: block;
  margin-top: 7%;
  margin-left: 15%;
}

.body_main-ul {
  display: block;
  margin-top: 20px;
  margin-left: 18%;
}



/* Bố trí phần main sử dụng Flexbox */
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  font-size: 1.5rem;
}

/* Phần nội dung */
.main-content {
  flex: 2;
  /* Chiếm 2 phần trên tổng 3 phần */
  margin-left: 10%;
}


/*---------BODY'S CONTENT------------*/
/* Thiết kế mỗi bài viết */
.article {
  /* flex: 1; */
  align-items: flex-start;
  margin-bottom: 20px;
}

.article a img {
  float: left;
  /* Đặt hình ảnh sang trái */
  margin-right: 25px;
  /* Tạo khoảng cách giữa hình ảnh và nội dung */
}

.article img {
  width: auto;
  height: auto;
  border-radius: 10px;
}

.article-content {
  flex: 1;
}

.article a {
  text-decoration: none;
  color: #333;
}

.article h4 {
  margin: 0;
}

.article a:hover {
  color: rgba(0, 0, 0, 0.5);
}

#time-blog {
  font-size: 10px;
  color: #999;
}

#content-blog {
  font-size: 90%;
  color: black;
}

/* Điều chỉnh kiểu hiển thị và căn chỉnh mục lục */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}



/*--------pagination------*/
.list {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.listPage {
  padding: 10px;
  list-style: none;
}

.listPage li {
  background-color: #ffffffBD;
  padding: 20px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.listPage .active {
  background-color: #B192EF;
  color: #fff;
}

/*table of contents*/

aside.table-of-contents {
  position: sticky;
  top: 0;
  padding: 80px 20px 20px 0px;
  z-index: 120;
  flex: 1;
}

.table-of-contents {
  margin-right: 200px;
  line-height: 1.7;
}

.table-of-contents a:hover {
  color: rgba(0, 0, 0, 0.5);
}

aside.table-of-contents .main-section .sub-sections a {
  color: black;
}

aside.table-of-contents .main-section a {
  color: orange;
}

.main-section {
  padding-left: 25%;
}

/*---------------footer start--------------------------*/
#footer {
  width: 100%;
  height: 330px;
  background-color: #CCCCCC;
}



.footer__info {
  height: 70%;
  display: flex;

}

.footer__info a:hover {
  color: red;
}

/*chỉnh kích cở cho icon*/
.social-icon i {
  width: 15px;
}

/*kích cở của ảnh*/
.footer__logo-img {
  width: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 36px;
}

.text-center {
  text-align: center !important;
}

.footer__info-icon {
  margin-top: 4px;
  font-size: 16px;
  padding: 4px;
}

.footer__info-item {
  flex: 1;
  height: 100%;
}

.footer__info-item h4 {
  margin-top: 12px;
  margin-bottom: 4px;
}

.footer__info-item li {
  list-style: none;

}

.footer__info-item a {
  text-decoration: none;
  color: var(--black-color);
  font-size: 12px;
}


.footer__location,
.footer__call {
  margin-top: 4px;
}

.footer__location-icon,
.footer__call-icon {
  min-width: 16px;
  margin: 0 4px
}

.line-sereprate {
  margin: auto;
  width: 95%;
  border: 1px solid #555;
}

.footer__address {
  height: 30%;
  text-align: center;
}

.footer__info-item h4 {
  font-size: 15px;
}

.address-info {
  font-size: 12px;
}

.footer__address p {
  font-size: 10px;
}

.footer__info-item ul {
  padding-left: 0px;
}

/*---------------footer end--------------------------*/

/* --------------------------------------Hover-----------------------------------------  */
.header__cart:hover,
.footer__info-item a:hover,
.sidebar__navbar-item:hover,
.content-item__product-item:hover,
.navbar-list .header__subnav li:hover,
.navbar-list>.header__navbar-item:hover>a {
  opacity: 0.3;
  cursor: pointer;
}

.navbar-list .header__navbar-item:hover .header__subnav {
  display: block !important;
}

/* Responsive cho màn hình điện thoại */
@media screen and (max-width: 768px) {

  /* Phần header */

  header {
    font-size: 1rem;
  }

  .toLogin {
    position: relative;
  }

  .navbar {
    position: relative;
  }

  #searchInput {
    margin-right: 0;
    width: 90%;
  }

  /* Phần main */
  .menu a {
    font-size: 1.2rem;
    /* Giảm kích thước font cho menu */
  }

  .content-container {
    flex-direction: column;
    margin-top: 20px;
  }

  .main-content {
    flex: 1;
    margin-left: 0;
  }

  .body_main-context,
  .body_main-ul {
    margin-left: 0;
  }

  .article a img {
    float: none;
    margin-right: 0;
  }

  /* Phần table of contents */
  aside.table-of-contents {
    display: none;
  }

  /* Phần footer */
  #footer {
    height: auto;
  }

  .footer__info {
    flex-direction: column;
    align-items: center;
  }

  .footer__info-item {
    text-align: center;
    margin-bottom: 20px;
  }
}